body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
 }
 .animated-background {
  background-image: url('../image/paca.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  animation: moveBackground 10s linear infinite;
}

/* Définir l'animation de mouvement */
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

 .Vrecent-container {
  padding: 20px; /* Pour ajouter de l'espace autour du contenu */
  text-align: center; /* Centrer le texte et les images */
}

.Vrecent-container h3 {
  color: white; /* Couleur du texte pour qu'il ressorte sur le dégradé */
  margin-bottom: 20px; /* Espace entre le titre et les images */
}

.Vrecent {
  display: flex;
  justify-content: flex-start;
  gap: 100px; /* Espace entre les images */
  margin: 0 auto;
  padding: 10px;
}

.Vrecent a img {
  border-radius: 8px; /* Ajoute des coins arrondis aux images (optionnel) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre autour des images (optionnel) */
}

.texte{
    margin: 40px auto;
    font-size: 25px;
    font-weight: bold;
   text-align: center;
   }

    h1{
      color:  rgb(142, 0, 142);
      font-size: 55px;
      background-color: rgba(240, 248, 255, 0.592);
      padding: 10px;
      border-radius: 8px;
    }

    h2{
      color: hsl(105, 47%, 51%);
      background-color: rgba(240, 248, 255, 0.679);
      padding: 10px;
      border-radius: 8px;
    }

    h3{
      font-style:oblique;
      font-size: 50px;
      color: rgb(76, 34, 230);
      background: linear-gradient(90deg, #b358af, #36adb1);
      padding: 10px;
      border-radius: 8px;
    }

    a {
      text-decoration: none;
      color: rgb(101, 52, 139);
  }

a img:hover {
    transform: scale(1.05); /* Zoom sur les images au survol */
    transition: transform 0.3s ease;
}
.Fin,
h4 {
  background-color: #b358af;
  color: rgb(101, 52, 139);
  font-size: medium;
  margin: 10px;
  font-size: 20px;
}

h5 {
  color: #b358af;
  font-size: 20px;
  background-color: rgba(240, 248, 255, 0.592);
  padding: 10px;
  border-radius: 8px;
}
main{
  background-color: black;
}

.media, 
h6 {
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 30px;
  box-shadow: 0 4px 8px rgb(250, 250, 250); 
}

.href {
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 30px;
  box-shadow: 0 4px 8px rgb(250, 250, 250); 
}
.haut-de-page{
background-color: black;
 color: white;
 padding: 15px 20px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.retour, .element-droit, .centre {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3 ease;
}